*{
    /*reseteo de algunas propiedades*/
}
/*clases utilitarias*/
.colorWhite{
    color:white;
}
.colorGris{
    color: rgb(79, 83, 87);
}
.colorVerde{
    color: rgb(40, 167, 69);
}
.logoNav{
    background-color: rgb(53,58,64);
    font-size: 1.5rem;
}
/*
.listaHeader{
    list-style: none;
}*/
/*
.listaHeader li{
    list-style: none;
}*/
/*
.listaHeader{
    display:inline;
}*/
header ul li{
    list-style: none;
    display:inline;
}
.linkNav{
    text-decoration: none;
}

/*display

display: none; *
display: block; * ocupaban todo el ancho de su contenedor padre, sin importar el contenido que tengan dentro
display: inline-block; *
display: inline; * solo ocupaban de ancho lo que tenian de contenido dentro
display: flex; *
display: grid;
display: table;
display: table-cell;
display: table-row;
display: table-column;


*/